<div class="container-fluid px-3 align-items-center contact-item rounded container m-5 p-2 mx-auto bg-light shadow">
    <div class="row m-1 p-4">
        <div class="col p-1 h1 text-secondary text-center mx-auto">
            <u>Termine</u>
        </div>
    </div>
    <div class="row m-1 p-4">
        <div class="col">
            <button id="appointmentNew" type="button" class="btn btn-secondary fa fa-plus" data-toggle="tooltip"
                data-placement="bottom" title="Neuer Termin"></button>
        </div>
    </div>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>
    <div class="row m-1 p-4">
        <div class="col" id="appointmentsShow">
            <!-- List of Appointments -->
        </div>
        <div class="p-2 mx-4 border-black-25 border-left"></div>
        <div class="col" id="appointmentEdit">
            <!-- Show/Edit Appointment -->
        </div>
    </div>
</div>