<div class="row px-3 align-items-center contact-item rounded container m-5 p-2 mx-auto bg-light shadow">
 <!-- Frame for Contactbook with Header and create Contact Button -->
    <div class="col">
        <div class="row m-1 p-4">
            <div class="p-1 h1 text-secondary text-center mx-auto display-inline-block">
                <i class="fa fa-address-book-o bg-secondary text-white rounded p-2"></i>
                <u>Kontaktbuch</u>
            </div>
        </div>
        <div class="row m-1 p-4">
            <div class="col">
                <button id="createcontact" type="button" class="btn btn-secondary add-contact-btn fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="Neuer Kontakt"></button>
            </div>
        </div>
        <div class="p-2 mx-4 border-black-25 border-bottom"></div>
        <!-- Anchor for Contact list -->
        <div class="row m-1 p-4">
            <div class="col-auto">
                <ul id="contactlist" class="p-1 text-center text-secondary mx-auto display-inline-block navbar-nav">
        
                </ul>
            </div>
            <div class="p-2 mx-4 border-black-25 border-left"></div>
            <!-- Anchor for Contact details -->
            <div class="col-auto">
                <div id="contactdetails" class="p-1 text-center text-secondary mx-auto display-inline-block">
        
                </div>
            </div>
        </div> 
    </div>   
</div>