<!-- Shows Contactdetails -->
<div class="row px-3 align-items-top rounded container mx-auto bg-light shadow">
    <div class="col-auto">
        <div id="contactdetailinformation" class="p-1 text-center mx-auto display-inline-block">
            <div id="surname" class="row">Vorname: &nbsp;</div>
            <div class="row p-2 mx-4 border-black-25 border-bottom"></div>
            <div id="familyname" class="row">Nachname: &nbsp;</div>
            <div class="row p-2 mx-4 border-black-25 border-bottom"></div>
            <div id="email" class="row">Email: &nbsp;</div>
            <div class="row p-2 mx-4 border-black-25 border-bottom"></div>
            <div id="address" class="row">Addresse: &nbsp;</div>
            <div class="row p-2 mx-4 border-black-25 border-bottom"></div>
            <div id="files" class="row">Dateien: &nbsp;</div>
        </div>
    </div>
    <div class="col-auto">
        <div class="row">
            <div class="p-1 mx-auto display-inline-block">
                <button id="deletecontact" type="button" class="btn btn-secondary delete-contact-btn fa fa-trash" data-toggle="tooltip" data-placement="bottom" title="Kontakt löschen"></button>
                <button id="updatecontact" type="button" class="btn btn-secondary update-contact-btn fa fa-repeat" data-toggle="tooltip" data-placement="bottom" title="Kontakt bearbeiten"></button>
            </div>
        </div>
    </div>
</div>