<!-- Acknowledgement for deleting contact -->
<div class="container rounded mx-auto bg-light shadow">
    <div class="row">
        <div class="col">
            <div class="p-1 h6 text-sm-center text-secondary mx-auto display-inline-block">
                <u>Soll dieser Kontakt gelöscht werden?</u>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <button id="deletecontactsubmit" type="button" class="btn btn-secondary delete-contact-submit-btn fa fa-check-square" data-toggle="tooltip" data-placement="bottom" title="Kontakt Löschen"></button>
                </div>
                <div class="col">
                    <button id="deletecontactcancel" type="button" class="btn btn-secondary delete-contact-cancel-btn fa fa-window-close" data-toggle="tooltip" data-placement="bottom" title="Abbrechen"></button>
                </div>
            </div>
        </div>
    </div>
</div>