<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SE2VS | Gruppe 2</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- JAVASCRIPT -->
    <script src="/js/index.js"></script>
    <script src="/js/todo.js"></script>
    <script src="/js/shop.js"></script>
    <script src=/js/appointment.js></script>
    <script src="/js/contact.js"></script>
    <script src="/js/logging.js"></script>
    <script src="/js/file.js"></script>
    <!-- NAVBAR ICONS with FONTAWESOME -->
    <script src="https://kit.fontawesome.com/bbb2d3622a.js" crossorigin="anonymous"></script>

</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="index.html">SE2VS | GRUPPE 2 &nbsp;&nbsp;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navbarList">
            <li class="nav-item">
                <a class="nav-link" id="todo-nav"><i class="fas fa-clipboard-list fa-lg"
                        title="ToDo's"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="appointment-nav"><i class="fas fa-calendar-alt fa-lg"
                        title="Calender"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-nav"><i class="fas fa-address-book fa-lg"
                        title="Adressbook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="shop-nav"><i class="fas fa-store-alt fa-lg"
                                                        title="Shop"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="log-nav">
                    <i class="fab fa-stack-overflow fa-lg" title="Logging"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="file-nav">
                    <i class="fas fa-file-alt fa-lg" title="FileUploader" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>


<body>
    <div id="content">
        Herzlich Willkommen auf der Startseite der Gruppe 2. In der Navigationsleiste kann zwischen den einzelnen Punkten gewechselt werden. <br>
        Im Store lassen sich Plugins installieren.
    </div>
</body>

</html>