<div class="container rounded mx-auto bg-light shadow">
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">UUID:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="uuid"></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">Start Datum/Zeit:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="from"></span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">End Datum/Zeit:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="to"></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">Titel:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="name"></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">Beschreibung:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="description"></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">Teilnehmer:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="participants"></label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">Dateianhänge:</label>
        </div>
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="files"></label>
        </div>
    </div>
    <div class="row">
        <div class="col align-items-start">
            <button id="appointmentCancel" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                title="OK">OK</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1">Letzte Änderungen (Log):</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="text-secondary my-2 p-0 px-1" id="logging"></label>
        </div>
    </div>
</div>